body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: rgb(154,219,217);
    background: -moz-radial-gradient(circle, rgba(154,219,217,1) 0%, rgba(227,52,52,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(154,219,217,1) 0%, rgba(227,52,52,1) 100%);
    background: radial-gradient(circle, rgba(154,219,217,1) 0%, rgba(227,52,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9adbd9",endColorstr="#e33434",GradientType=1);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

a {
    margin-top: 4rem;
    height: 3.75rem;
    width: 13.75rem;
    background-color: pink;
    border-radius: 0.75rem;
    text-align: center;
    text-decoration-line: none;
    color: white;
}
